{% extends "base.html" %}
{% block title %}Home Page{% endblock %}

{% block content %}
<main role="main" class="container p-5">
    <form action="#" method="POST">
        <div class="mb-3">
            <label for="default" class="form-label">ENTRADA:</label>
            <textarea class="form-control" id="default" name="inpt" cols="30" rows="10">{{input}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Generar</button>
    </form>
</main>
<main role="main" class="container p-5">
    <form>
        <div class="mb-3">
            <label for="output" class="form-label">SALIDA:</label>
            <textarea class="form-control" id="output" name="output" cols="30" rows="10" readonly>{{outt}}</textarea>
        </div>
    </form>
</main>
{% endblock %}